<%- include('./components/Navbar.ejs') %>
    <div id="vouncher_receipt" class="w-100">
        <div class="w-75 m-auto p-2 bg-white">
            <table border="1" style="width:100%;text-align:center;border-collapse: collapse;border-style: dotted;"
                class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th scope="col" style="min-width:20px;">No</th>
                        <th scope="col" style="min-width:120px;">Staff_Name</th>
                        <th scope="col" style="min-width:120px;">Customer Licence</th>
                        <th scope="col" style="min-width:120px;">Purchase Product</th>
                        <th scope="col" style="min-width:120px;">Product Price</th>
                        <th scope="col" style="min-width:120px;">Purchase Amount</th>
                        <th scope="col" style="min-width:120px;">Total Sale Product(liter)</th>
                        <th scope="col" style="min-width:120px;">Sale Date</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < results.length; i++) { %>
                        <tr>
                            <td scope="col" style="min-width:20px;">
                                <%= i+1 %>
                            </td>
                            <td scope="col" style="min-width:120px;">
                                <%= results[i].name %>
                            </td>
                            <td scope="col" style="min-width:120px;">
                                <%= results[i].licence %>
                            </td>
                            <td scope="col" style="min-width:120px;">
                                <%= results[i].productname %>
                            </td>
                            <td scope="col" style="min-width:120px;">
                                <%= results[i].price %>
                            </td>
                            <td scope="col" style="min-width:120px;">
                                <%= results[i].amount %>
                            </td>
                            <td scope="col" style="min-width:120px;">
                                <%= results[i].liter %>
                            </td>
                            <td scope="col" style="min-width:120px;">
                                <%= new Date(results[i].sale_date_time).getDate() %>-<%= new
                                        Date(results[i].sale_date_time).getMonth() %>-<%= new
                                            Date(results[i].sale_date_time).getFullYear() %>
                            </td>
                            <td scope="'col" class="btn-group">
                                <button class="btn btn-sm btn-info text-white shadow-md">Edit</button>
                                <form action="/salesdata/delete?_method=DELETE&id=<%= saleresults[i].id  %>"
                                    method="post">
                                    <button class="btn btn-sm btn-danger shadow-md">Delete</button>
                                </form>
                                <button class="btn btn-sm btn-success shadow-md">Print</button>
                            </td>
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center items-center gap-2">
        <button class="btn btn-danger py-1 px-3 rounded-pill text-white">Delete All</button>
        <button id="btn" class="btn btn-success p-2 rounded-pill text-white shadow-sm">Print All</button>
    </div>
    <script>

        //for print the vouncher start
        const prtContent = document.getElementById("vouncher_receipt");
        document.getElementById('btn').addEventListener('click', (e) => {
            const WinPrint = window.open('', '', 'left=0,top=0,width=1200,height=900,toolbar=0,scrollbars=0,status=0');

            WinPrint.document.write(prtContent.innerHTML);
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            WinPrint.close();
        });

    //print vouncher end
    </script>