<%- include('./components/Navbar') %>

    <section id="staffs_table" class="d-flex justify-center align-items-center flex-column">
        <div class="container mt-5 rounded shadow-lg bg-white border p-2">
            <div>
                <h4>Employees</h4>
            </div>
            <div class="table-responsive">
                <table border="1" style="width:100%;text-align:center;border-collapse: collapse;border-style: dotted;"
                    class='w-100 rounded border shadow-md bg-light  table table-hover'>
                    <thead class='text-muted border thead-dark'>
                        <tr>
                            <th class='border'>Name</th>
                            <th class='border'>NRC</th>
                            <th class='border'>status</th>
                            <th class='border'>salary</th>
                            <th class='border'>hire_date</th>
                            <th class='border'></th>
                        </tr>
                    </thead>
                    <tbody id="body" className='text-center table-group-divider'>
                        <% if(results.length < 1){ %>
                            <tr>
                                <td>There is no staff to display</td>
                            </tr>
                            <% }else{ %>
                                <% for (let i=0; i < results.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= results[i].name %>
                                        </td>
                                        <td>
                                            <%= results[i].nrc %>
                                        </td>
                                        <td>
                                            <% if(results[i].status==='0' ) { %>
                                                <div style="width: 15px;height: 15px;" class="bg-danger rounded-circle m-auto"></div>
                                                <%}else{ %>
                                                    <div style="width: 15px;height: 15px;" class="bg-success rounded-circle m-auto"></div>
                                                    <% } %>
                                        </td>
                                        <td>
                                            <%= results[i].salary %>
                                        </td>
                                        <td>
                                            <%= new Date(results[i].hire_date).getDate() %>-
                                                <%= new Date(results[i].hire_date).getMonth() + 1%>-
                                                    <%= new Date(results[i].hire_date).getFullYear()%>
                                        </td>
                                        <td scope="'col" class="btn-group">
                                            <a href="/staffs/staff/update_staff/<%= results[i].id %> " type="button"
                                                class="btn btn-sm btn-info text-white shadow-md">Edit</a>
                                            <form action="/staffs/staff/<%= results[i].id  %>?_method=DELETE " method="post">
                                                <button class="btn btn-sm btn-danger shadow-md">Delete</button>
                                            </form>
                                                            </td>
                                                            </tr>
                                                            <% } %>
                                <% } %>
                    </tbody>

                </table>
            </div>
        </div>
    </section>
    <div class="d-flex justify-content-center items-center mt-5 gap-2">
        <a href="/staffs/staff_add_form" type="button" class="btn btn-info py-1 px-3 rounded-pill text-white">Add New Staff</a>
        <form action="/staffs/deleteAllStaffs?_method=DELETE" method="post">
        <button class="btn btn-danger py-1 px-3 rounded-pill text-white">Delete All</button>
    </form>
        <button id="btn" class="btn btn-success py-1 px-3 rounded-pill text-white">Print</button>
    </div>

    <script type="text/javascript">
        //printing 
        const prtContent = document.getElementById("staffs_table") || document.getElementById('vouncher_receipt') || document.getElementById("customer-print-area");
        document.getElementById('btn').addEventListener('click', (e) => {
            const WinPrint = window.open('', '', 'left=0,top=0,width=1100,height=900,toolbar=0,scrollbars=0,status=0');

            WinPrint.document.write(prtContent.innerHTML);
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            WinPrint.close();
        });

    </script>